<ul>
    {% for item in libros %}

        <li>
            {{item.id}} <a href="{{ path('deleteextension', {id: item.id}) }}">Eliminar</a> <a href="{{ path('editextension', {id: item.id}) }}">Editar</a>
        </li>

    {% endfor %}
    
    <a href="{{ path('newextension') }}">Nueva extension</a>

</ul>